<h1>bookmark</h1>

<% @list.bookmarks.each do |bookmark| %>
  <%= bookmark.movie.poster_url %>
  <%= bookmark.movie.title %> </strong> </h5>
  <%= bookmark.movie.overview %></p>
  <%= bookmark.movie.rating %></p>
  <%= bookmark.comment %></p>
<% end %>
