<h1><%= @list.name %></h1>

<h2>All movies</h2>
<% @list.movies.each do |movie| %>
  <%= movie.title %>
  <%= movie.overview %>
  <%= movie.rating %>
  <% bookmark = Bookmark.find_by({list: @list, movie: movie})%>
  <%= bookmark.comment %>
  <img src="<%= movie.poster_url %>" alt="">
<%= link_to "X", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure" } %>
<% end %>

<h3>Buttons</h3>

<%= link_to "Delete this list", list_path(@list), data: { turbo_method: :delete, turbo_confirm: "Are you sure" } %>
<%= link_to "Add Movie", new_list_bookmark_path(@list) %>
